name: Backup Project 
on: [push]

env:
  USER: 'Jihed'

jobs:
  Backup:
    runs-on: ubuntu-latest
    steps:
      - name: clone Project
        run: |
          git clone https://github.com/JihedTR/devops-technical-test-data.git
          cd devops-technical-test-data
          git config --local user.email "jihed.trifi@gmail.com"
          git config --local user.name "JihedTR"
          # git config --global --add safe.directory '*'
          git branch -a
          git config -l
          
          
      - name: set release date
        run: |
          echo "BRANCH_NAME=$(date +'%d-%m-%Y')-test" >> ${GITHUB_ENV}
        
      - name: Generate test branch name
        run: echo ${{ env.BRANCH_NAME }}

      - name: Create a test branch      
        uses: peterjgrainger/action-create-branch@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: ${{ env.BRANCH_NAME }}
          sha: '282180fe7e5d9cbf297f2f0ef813cffe60ce2328'

      # - name: delete security on global safe and copy
      #   run: 
      #       git config --global --add safe.directory "*"
                        
      - name: Copy YML File
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
  
      - name: Copy To Branches Action
        # uses: planetoftheweb/copy-to-branches@v1
        uses: idrissi-m/copy-to-branches@v2
        env:
          key: cicd
          #exclude: main
          files: my-lovely-workflow.yml

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v42
      # NOTE: `since_last_remote_commit: true` is implied by default and falls back to the previous local commit.

      - name: List all changed files
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          for file in "$ALL_CHANGED_FILES"; do
            echo "$file was changed in $(pwd)"
          done
          echo "branch name"
          git branch
          git log --oneline -5

          
      - name: move to main branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: If push to test branch
        # if : steps.check.outputs.triggered == 'true'
        if : on.push.${{ env.BRANCH_NAME }} == "true"
        run: |
          echo "Yeees"
      
      # - name: clone Project
      #   run: |
      #     pwd
      #     git config --local user.email "jihed.trifi@gmail.com"
      #     git config --local user.name "JihedTR"
      #     git config --global --add safe.directory '*'
      #     echo "echo modified file are:"
      #     echo ${{ steps.changed-files.outputs.all_changed_files }}
      #     echo "ls modified file:"
      #     ls ${{ steps.changed-files.outputs.all_changed_files }}
      #     echo "show git status"
      #     git status
      #     echo "chown all files"
      #     sudo chown -R $(whoami) *
      #     echo "rm .git/COMMIT_EDITMSG"
      #     rm -f .git/COMMIT_EDITMSG
          # echo "run commit file1.txt"
          # git commit -m "add file1.txt"
          # git diff --name-status main
          
          #git checkout ${{ env.BRANCH_NAME }}
          #git add .
          #git commit -m "test commit"
          #git push -u origin ${{ env.BRANCH_NAME }}
      
      - name: set release date
        run: |
          echo "Hi $USER"
